<style>
* {box-sizing: border-box;
margin: 0;
padding: 0;}

body {
  background-color:gray !important;
  padding: 0;
  margin: 5px;
}

h1 {
  background-color: maroon;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.title {
  height: 20px;
  width: 150PX;
  font-weight: bold;
  font-family:cursive;
  text-align: center;
  border: 1px solid black;
  background-color: maroon;
  margin: 0;
  float:right;

  color: yellow;

}


.content {


   padding: 10px;
   font-family:monospace;
   color:black;
   position: absolute;
   font-weight: bold;
   font-size: 15px;
}
.divs{
background-color: white;
height: 150px;
margin: 10px;
position: relative;
border: 2px solid black;
  overflow: auto;
}
.row {width: 100%;}

@media (min-width: 992px) {
  .col-lg-3 {float: left;}

  .col-lg-3 {width: 33.33%;}
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {float: left;}
    .col-md-6 {width: 50%;}
    #sec3 {width: 100%;}
  }




@media (max-width:767px) {
  .col-sm-12 {
   float: left;

  }

  .col-sm-12 {
   width: 100%;
  }
}
</style>
